@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

body {
    font-family: 'Sora', sans-serif;
    box-sizing: border-box;
    margin: 0;
    /* background-color: #85aebc ; */
    width: 100%;
}

a:link {
    text-decoration: none;
}

.navbar-brand {
    color: white;
    font-weight: 700;
    font-size: 30px;
}

.navbar-brand:hover {
    color: #19376D;
}

.scrollspy-example.bg-body-tertiary.p-3.rounded-2 {
    margin: 0;
    padding: 0;
    /* background-color: #0B2447; */
    width: 100%;
}

.p-3 {
    padding: 0;
}

.container-fluid {
    width: 100%;
}



.container.profile_text .row {
    display: flex;
    flex-direction: row;
}

.center {
    text-align: center;
}

.navbar  {
    background-color: #85aebc ;

}

.navbar .nav-item a{
    color: white;
}

.nav-item .nav-link.active {
    text-decoration: underline;
    color: #0B2447;
    background-color: #85aebc;
}

.nav-item .nav-link:hover {

    text-decoration: underline;
    color: #0B2447;
}

.dropdown-menu{
    background-color: #85aebc;
}

.dropdown-item.active {
    text-decoration: underline;
    color: #0B2447;
    background-color: #85aebc;
}

#profiles {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #85aebc;
    padding: 75px 100px 100px 20px;
    /* padding-bottom: 100px; */
    /* height: fit-content; */
    /* margin-top: 10; */
}

.profile_text {
    height: 100%;
    width: 50%;
    /* justify-content: center; */
    margin-top: 10px;
    /* margin-bottom: auto; */
    /* background-color: #0B2447; */
}

.profile_text h3 {
    font-weight: 400;
    color: #0B2447;
}
.profile_text h1 {
    font-weight: 700;
    color: white;
}

.profile_text p {
    font-size: 18px;
}

.profile_text .btn-primary {
    background-color: #19376D;
    padding: 10px 30px;
    font-size: 20px;
    margin-top: 20px;
    box-shadow: 2.5px 2.5px 10px 2px #696969;
}



.profile_text .btn-primary:hover {
    opacity: 80%;
}
.profile_text .btn-primary:active {
    margin-top: 22px;
    margin-left: 2px;
    box-shadow: none;
    background-color: #19376D;
}

.crop {
    height: 350px;
    width: 40%;
    overflow: hidden;
    background-color: palegoldenrod;
}

.img-fluid {
    /* box-shadow: 1px 1px 1px #0B2447; */
}


#proficiency.container {
    /* height: 500px; */
    background-color: #e1e9ec;
    box-shadow: 10px 10px 10px 0px #888888;
    padding: 30px;
    margin-top: -75px;
    /* z-index: 3; */
}

.skills {
    display: flex;
    padding-bottom: 30px;
    padding-top: 30px;
}

.skill_box {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border: .5px solid #588dd7;
    border-radius: 5px;
    box-shadow: 10px 10px 10px 0px #888888;
    padding: 10px;
}

.skill_box img {
    margin-bottom: 10px;
}


.container.skills .skill_box:hover {
    background-color: #A5D7E8;
    transition: 0.1s;
    transform: scale(1.05);
}

.skill_box h3 {
    font-size: 20px;
}

.skill_box img {
    width: 10%;
}


.tools {
    margin-top: 50px;
}

.tools_box {
    display: flex;
    /* background-color: #0B2447; */
    align-items: center;
    margin: 25px 0;
}

.tools_box img {
    width: 4%;
    margin-right: 10px;
}

.content {
    width: 100%;
    height: fit-content;
}

.text {
    display: flex;
    justify-content: space-between;
    /* background-color: #0B2447; */
    height: 25px;
    /* padding-bottom: 0; */
}

.text p {
    /* background-color: #588dd7; */
    height: 100%;
}

.progress {
    width: 100%;
    background-color: #b5b0b0;
    margin: 0;
}

.progress-bar {
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(52,153,173,1) 0%, rgba(9,9,121,1) 100%); */
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(124,211,228,1) 0%, rgba(34,91,151,1) 52%, rgba(9,9,121,1) 100%);
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(86,220,246,1) 0%, rgba(34,91,151,1) 52%, rgba(9,9,121,1) 100%); */
}

.container.language {
    padding: 100px;
    display: flex;
    height: fit-content;
}

.language_box {
    margin: auto;
    text-align: center;
}

.language_box img {
    margin-bottom: 20px;
}

.line {
    height: 100;
    width: 1px;
    background-color: #0B2447;
}


/* #education, #projects {
    height: 500px;
} */

/* #contact {
    backgorund
} */

#education {
    margin-top: 100px;
    margin-bottom: 100px;
}

.educations {
    /* width: 90%; */
    margin: auto;
    display: flex;
    height: 800px;
    /* margin-top: 100px; */
}

.line_box {
    /* overflow-y: hidden; */
    /* overflow-x:visible; */
    margin-left: auto;
    margin-right: auto;
}

.educations .line {
    height: 100%;
    width: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 50px 0;
    /* text-align: center; */
}

.educations .gap {
    height: 20%;
    width: 100%;
}

.line .circle {
    border-radius: 50%;
    overflow: hidden;
    width: 1000%;
    margin-top: auto;
    margin-bottom: auto;
    border: 2px solid #0B2447;
}

.line .circle img {
    width: 100%;
}

.edu_box {
    /* background-color: #0B2447; */
    display: flex;
    flex-direction: column;
    width: 45%;
    padding: 50px 0;

}

.edu_box h3 {
    font-size: 24px;
}

.edu_box h5 {
    font-size: 17px;
    opacity: 80%;
}

.edu_crop {
    width: 80%;
    overflow: hidden;
    height: 40%;
    margin: auto;
    box-shadow: 10px 10px 10px 0px #888888;
    display: flex;
    /* margin-top: 100px; */
    /* margin-bottom: 100px; */
}

.edu_crop img {
    /* width: 100%; */
    margin: auto;
    height: 100%;
}

.edu_box img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.edu_text {
    margin: auto;
    height: 40%;
    display: flex;
    flex-direction: column;
    /* background-color: #0B2447; */
    /* padding: 100px; */
}

.edu_textisi {
    margin-top: auto;
    margin-bottom: auto;
}

#yaohua {
    text-align: right;
}

#gembalabaik {
    text-align: left;
}



/* .nav-item .nav-link.active {
    color: #0B2447;
} */

#projects {
    background-color: #A5D7E8;
    display: flex;
    padding: 100px 50px 150px 50px;
}

.project {
    /* background-color: #576CBC; */
    width: 40%;
    display: flex;
    flex-direction: column;
}

.project  h1.title {
    background-color: #19376D;
    color: white;
    width: fit-content;
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: -120px;
    box-shadow: 5px 5px 5px 0px #888888;

}

#projects .big {
    margin-left: auto;
    width: 55%;
}

#projects .big img {
    width: 100%;
}

#projects button.project_box {
    display: flex;
    background-color: #b3ecff;
    box-shadow: 5px 5px 10px 1px #888888;
    /* opacity: 80%; */
    border: none;
    width: 100%;
    margin: auto;
    height: 25%;
    align-items: center;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#projects button.project_box:hover {
    /* opacity: 80%; */
    background-color: #cff5ff;
    box-shadow: 5px 5px 15px 5px #888888;
    transition: 0.5s;
    transform: scale(1.05);
}
#projects button.project_box:active {
    /* opacity: 80%; */
    background-color: #cff5ff;
    box-shadow: none;
    transition: 0.5s;
    transform: scale(1);
}

#projects button.project_box h5 {
    color: #19376D;
    align-items: center;
    font-weight: 700;
    /* background-color: #19376D; */
}

#projects button.project_box img {
    width: 15%;
}

.modal-header img {
    width: 8%;
    margin-right: 10px;
}

.modal-body .crop {
    width: 75%;
    margin: auto;
    height: 310px;
    overflow: hidden;
    margin-bottom: 50px;
    border: 1px solid #19376D;
    border-radius: 10px;
}
.modal-body img {
    height: 100%;
    width: 100%;
}

.modal-body a {
    text-decoration: none;
    color: #19376D;
    font-weight: 700;
}

.modal-body a:hover {
    text-decoration: underline;
    opacity: 80%;
}

.carousel {
    width: 100%;
    /* height: 100%; */
}

.carousel-control-prev {
    height: 100%;
}
.carousel-control-next {
    height: 100%;
}
span.carousel-control-next-icon {
    /* background-color: #0B2447; */
}


#More_About_Me {
    margin-bottom: 200px;
    background-color: #19376D;
    height: 300px;
    position: relative;
    /* align-items: center; */
}

#more_dalam {
    /* margin-top: -200px; */
    height: 400px;
    background-color: #A5D7E8;
}

.more_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    height: 300px;
    margin: auto;
    background-color: #19376D;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    padding-left: 50px;
    padding-right: 0px;
}

.more_box .line {
    height: 80%;
    background-color: white;
    width: 2px;

}

.more_box h2, .more_box p {

    color: white;
}

.social {
    width: 60%;
    /* background-color: #588dd7; */
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-content: space-around; */
}

.social_top {
    display: flex;
    height: 30%;
    /* background-color: #588dd7; */
    /* width: 40%; */
    margin-top: auto;
}

.social_box {
    width: 30%;
    text-align: center;
    margin: auto;
}

.social_box:hover {
    /* background-color: #20458a; */
    transform: scale(1.05);
    transition: 0.3s;
}

.social_bottom {
    display: flex;
    height: 70px;
    margin-top: 10px;
    margin-bottom: auto;
    background-color: #576CBC;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.social_bottom p, .social_bottom a {
    margin: auto;
}

.social_bottom .btn {
    background-color: white;
    color: #0B2447;

}

.social_bottom .btn:hover {
    transform: scale(1.05);
    transition: 0.3s;
}


.social_box img {
    width: 40%;
}

.biru_box {
    margin-left: auto;
    background-color: #576CBC;
    height: 70px;
    width: 61.5px;
    position: absolute;
    bottom: 64.5px;
    right: 0;
}

.footer_text {
    display: flex;
    /* background-color: #19376D; */
    /* padding: 20px; */
    /* padding-left: 0px; */

}

.footer_left {
    text-align: center;
    width: 60%;
    margin-right: auto;
    background-color: #85aebc;
    padding-left: 80px;
    margin-right: 50px;
    margin-left: -100px;
    padding-top: 100px;
    padding-bottom: 80px;
    transform: skew(20deg);
}

.footer_left p {
    color: white;
    transform: skew(-20deg);
    width: 80%;
    margin: auto;

}

.footer_text .circle {
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
    border: 5px ridge #A5D7E8;
    /* box-shadow: 5px 5px 5px 5px #888888; */
    margin: auto;
    margin-bottom: 30px;
    /* margin-left: 20px; */
    transform: skew(-20deg);
}

.footer_text .circle img {
    width: 100%;
    height: 100%;
}

.footer_box {
    margin: auto;
    width: 30%;
    /* transform: skew(20deg); */
    /* background-color: #0B2447; */
    padding-left: 100px;
    display: flex;
    flex-direction: column;
}


.footer_box h3 {
    /* transform: skew(-20deg); */
    color: #85aebc;
    margin-bottom: 20px;
}
.footer_box a {
    color: #0B2447;
    margin-bottom: 10px;
}

.baseline {
    height: 5px;
    width: 80%;
    background-color: white;
    margin: auto;
}

.footer_down {
    background-color: #85aebc;
    width: 100%;
    height: 50px;
    text-align: center;
    color: white;
    justify-content: center;
    display: flex;
}

.footer_down p {
    margin-bottom: 0;
    margin: auto;
}
